<div class="album text-muted">
  <div class="container">
    <div class="row">

      <!--<h3><%= link_to 'Angular', portfolios_angular_path %></h3>-->
      <!--<h3><%= link_to 'Ruby on Rails', portfolios_ruby_on_rails_path %></h3>-->
      
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
      
    </div>
  </div>
</div>
