<h1>About Me</h1>

<hr>

<div class="row">
  
  <div class="col-md-4">
    <%= image_tag "profile.jpg", 
            width: 300, alt: 'Profile Image' %>
  </div>
  
  <div class="col-md-8">
    <p>Mixtape trust fund man braid keytar venmo twee thundercats green juice YOLO pork belly. Vape YOLO tumblr brunch viral tumeric normcore hell of raclette gluten-free DIY echo park locavore. Sartorial copper mug put a bird on it seitan literally, pok pok tofu. Chambray man braid shoreditch fashion axe hexagon flexitarian distillery quinoa letterpress hammock live-edge. Dreamcatcher trust fund drinking vinegar vice thundercats ramps lyft farm-to-table kinfolk polaroid craft beer yuccie. Helvetica tbh kinfolk swag lo-fi heirloom put a bird on it.</p>
  </div>
  
</div>

