<h1>Contact</h1>
<hr/>

<div class="app-card-container">
  <div class="card">
    
    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>
        <p>1007 York St, Denver, CO 80206</p>
        <h3>Phone</h3>
        <p><%= number_to_phone "5555555555" %></p>
        <h3>Email</h3>
        <p><a href="mailto:gray@example.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3068.3442817194027!2d-104.96307918473244!3d39.73191667945061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7eb7fc1687d7%3A0x5d0992ee05240394!2sDenver+Botanic+Gardens!5e0!3m2!1sen!2sus!4v1498361654856" 
                width="350" height="350" 
                frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

